body {
    background-image: url("back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    margin: 0;
    margin: auto;
}
main {
    display: block;
    height: 80%;
    overflow-y: scroll;
    background-color: #3597d2;
}
img {
    max-width: 20%;
    height: auto;
}
nav {
    height: 40px;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    background-color: #ffffff;
}

nav > ul {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: -30px;
}
nav > ul > li {
    margin-left: 0;
    width: 50px;
    height: 20px;
    padding: 10px;
    border: 1px;
}

nav > ul > li > a {
    font-size: 16px;
    height: 40px;
}

nav li {
    background: #ffffff;
    display: block;
    height: 0px;
    float: left;
    padding: 5px;
    position: relative;
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 0rem;
    left: 0;
    display: block;
    padding-left: 0;
    width: 230px;
    box-shadow: 1px 2px 7px -1px #535050;
    z-index: 999;
}

nav ul li:hover > ul,nav ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
}

nav ul li ul li {
        clear: both;
        height: 20px;
        padding: 5px;
        width: 230px;
}


nav ul li ul li a {
    padding: 5px;
}

footer {
    color: white;
    background-color: blue;
    text-align: center;
}
a {
	display: block;
    color: black;
}
th{
	height: 50px;
	background-color: blue;
}
table{
	width: 100%;
}
tr{
	height: 50px;
	background-color: darkblue;
}
tr:nth-child(even){
	background-color: lightblue;
}
.div_form {
width: 50%;
 float: left;
}
table{
	clear: both;
}
.acc {
    width: 100%;
}
.panel {
    display: none;
    overflow: hidden;
}
#icon{
    display: none;
}
@media only screen and (max-width: 600px) {

    #icon {
        display: block;
    }

    nav {
        display: none;
        position: block;
    }

    ul{
        clear: both;
        display: block;
    }
    li{
        clear: both;
        display: block;
    }

}